
.jumbotron{
  background-image: url("../img/backgrounds/landing.jpg");
  background-size: cover;
  text-align: center;
}
.row{
  image: url ("img/foodtop/breakfast.jpg");
  background-size: contain;
  text-align: left;
  image: url ("img/foodtop/lunch.jpg");
  background-size: contain;
  text-align: center;
  image: url ("img/foodtop/dinner.jpg");
  background-size: contain;
  text-align: right;

}
.row{
  image: url("img/fastfood/beefBurger.jpg");
  background-size: contain;
  background-color: inherit;
  text-align: left;
  image: url("img/fastfood/chickenBurger.jpg");
  background-size: contain;
  background-color: inherit;
  text-align: center;
  image: url("img/fastfood/chickenPizza.jpg");
}
}
